<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../static/css/cadastro.css">
    <link rel="stylesheet" href="../../../static/css/login.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Login</title>
</head>
<body>
    <div class="container d-flex justify-content-center align-items-center vh-100 text-center">
        <div class="form-box">
            <h2>Login</h2>
            <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" class="form-control mb-3" placeholder="Digite seu username" name="username">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control mb-3" placeholder="Digite sua senha" name="password">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" name="cadastrar">Entrar</button>
                </div>
                {% for k,v in form.errors.items %}
                    <div class="alert alert-danger mt-3">{{ v }}</div>
                {% endfor %}
            </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
