{% extends 'base.html' %}
{% load static %}
{% block content%}

<head>
  <link rel="stylesheet" href="/static/css/home.css">
</head>
<div class="container text-center mt-5">
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Avaliar</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="{% url 'avaliacoes' %}" method="post" >
            {% csrf_token %}
            <div class="form-group">
              <label for="materia">Nome da matéria:</label>
              <input type="text" class="form-control" id="materia" name="materia" required>
            </div>
            <div class="form-group">
              <label for="avaliacao">Escreva sua avaliação:</label>
              <textarea class="form-control" id="avaliacao" name="avaliacao" required>
              </textarea>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
              <button type="submit" class="btn btn-primary">Enviar avaliação</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <form class="d-flex mt-5 mb-5" role="search" method="get">
    <input class="form-control me-2 " type="search" placeholder="Search" aria-label="Search" name="search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
  <h2>Últimas avaliações:</h2>
<div class="row">
  {% for lista in lista_avaliacoes%}
  <div class="col-lg-6 col-md-6 col-sm-12 mb-4">      
    <div class="card neonText mb-4" id="card-home">
      <div class="card-body" id="card-body-home">
        <p class="card-text"><b>{{lista.materia}}</b></p>
        <hr>
        <p class="card-text">{{lista.avaliacao|truncatechars:500}}</p>
        {% if lista.avaliacao|length > 500 %}
        <a href="{% url 'avaliacao' id=lista.id %}">Ver mais</a>
        {% endif %}

      </div>
    </div>
  </div>
  {% endfor %}
</div>
<a href="{%url  'listar_avaliacoes' %}"><button class="btn btn-primary ver-mais">Ver mais</button></a>
</div>

{% endblock %}