{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container text-center mt-5">

<h2>Últimas avaliações:</h2>
<div class="row">
  {% for lista in lista_avaliacoes%}
  <div class="col-lg-6 col-md-6 col-sm-12 mb-4">      
    <div class="card neonText mb-4">
      <div class="card-body" >
        <p class="card-text"><b>{{lista.materia}}</b></p>
        <hr>
        <p class="card-text">{{lista.avaliacao|truncatechars:500}}</p>
        {% if lista.avaliacao|length > 500 %}
        <a href="">Ver mais</a>
        {% endif %}

      </div>
    </div>
  </div>
  {% endfor %}
</div></div>
{% endblock %}